### operators
1. Arthemetic 
   - +,-,*,** ,/ ,//, %
2. asigenment
   - =,+=,-=,*=,/=,//=,%=
3. comparision 
   - ==,<,>,<=,>=,!=
4. logical operators
   - and, or, not
5. bitwise operators
   - and , or, xor,>>,<<
6. identity operators
   - is ,isnot
7. membership operators
   - in ,notin

In [2]:
# Arthemetic operators
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

In [4]:
a=35
b = 5
a+=b # a = a+b
print(a)
a-=b # a = a-b
print(a)
a*=b # a = a*b
print(a)
a/=b # a = a/b
print(a)

40
35
175
35.0

In [5]:
a = 10
b = 30
print(a==b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a!=b)

False
True
False
True
False
True

In [15]:
x = -1
y = 10
x and y # if x values is false return x ,otherwise return y

10

In [7]:
x = 0
x and y

0

In [14]:
True and False

False

In [17]:
x = 0
y = 20
x or y

20

In [22]:
x = 0
not x

True

In [23]:
# Bitwise operators
# & ,|, ^ >>,<<

In [30]:
x = 7  # 0111
y = 10 # 1010
print(x & y)  # 0010
print(x | y) #1111
print(x ^ y) # 1101

2
15
13

In [34]:
x = 12 #1100
print(x<<2)# 1000
print(bin(2))
print(bin(x<<1))
print(bin(x<<2))
print(x>>2)# 00110

48
0b10
0b11000
0b110000
3

In [27]:
bin(101)

'0b1100101'

In [26]:
b = '001100101'
int(b,2)

101

In [38]:
x = 123
y = 123
x is not y

False

In [49]:
# in ,not 
#,b,c = 10,20,30
#a = 10;b =20;c=30
a = 1,2,3
#x,y,z =30
x= y =z =30

In [50]:
5 not in a

True

In [53]:
# data types
# int,float,str,complex,boolean
a = 10748564973863987659784326930237657485674365674326597732
type(a)

int

In [64]:
s ='apssdc'
type(s)
z = complex(123,345)
z.real
type(z)

complex

In [63]:
x = 10
y = 20
z = complex(x,y)
type(z)
z.imag

20.0

In [56]:
z

(10+20j)

In [66]:
x = True
type(x)

bool

In [67]:
# Type casting
# converting one data type to another data type

In [69]:
x = 10
y = float(x)
print(x,y,type(x),type(y))

10 10.0 <class 'int'> <class 'float'>

In [70]:
x =12.344
y = int(x)
print(x,y,type(x),type(y))

12.344 12 <class 'float'> <class 'int'>

In [80]:
x= int(input('enter x,y value'))
print(type(x))

enter x,y value789
<class 'int'>

In [87]:
# Flow controls
# even number checking
n = int(input('enter n value'))
if n%2 == 0:
    print('even number')
    print('given {} is even number'.format(n))
else:
    print(n,'odd number')
    print('given {} is odd number'.format(n))

enter n value897
897 odd number
given 897 is odd number

In [88]:
# gread printing
# marks in b/w 100 to 90 => A Grade
# marks in b/w 89 to 70 => B Grade
# marks in b/w 69 to 50 => c Grade
# marks in b/w 49 to 35 => D Grade
# marks in b/w 34 to 0 => Fail
# marks>100 or <0 invalid marks

In [95]:
a = 80
if a<101 and a>=90:
    print(a)
elif a<90 and a>70:
    print(a)

80

In [98]:
n = int(input('enter n value'))
if n%7 == 0 and n%9 ==0:
    print('number is div by 7 and 9')

enter n value18

In [105]:
n = int(input('enter n value'))
if n%7 == 0:
    if n%9 == 0:
        print('number is div by 7 or 9')
    else:
        print('number is div 7 only')
else:
    print('number is not div 7 or 9')

enter n value10
number is not div 7 or 9

In [ ]:
n